/* body {
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
} */


.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

Strong {
    color:  rgb(168, 166, 166);
    text-size-adjust: 30px;
}


body {
    background: url("../Images/IMG_1269.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Sansita Swashed', cursive;
  }

  h5 {
      Font-size: 25px;
  }
 h6{
     font-size: 20px;
 }

 .card-text {
    font-size: 16px;
 }

 footer {
    background-color: rgb(168, 166, 166);
  }