body {
    background: url("./IMG_2322.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 50px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;

  }

  Strong {
    color: rgb(114, 169, 206);
    text-size-adjust: 30px;
}


p{ 
  font-size: 16px;
}

footer {
  background-color: rgb(114, 169, 206);
}

