body {
    background: url("../Images/redrocsblue.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: 50px;
    font-family: 'Sansita Swashed', cursive;
    

  }

Strong {
  color:  rgb(168, 166, 166);
  text-size-adjust: 30px;
}


p{ 
  font-size: 16px;
}

footer {
  background-color:  rgb(168, 166, 166);
}

